@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  background-color: #003333;
}

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: #082424;
}

.search-box {
  position: relative;
  width: 220px;
}


#search:focus {
  outline: 0;
  background-color: #003333;
}

#search::placeholder {
  color: #fff;
}

.search-box input {
  width: 100%;
  background-color: transparent;
  border: 2px solid #003333;
  border-radius: 50px;
  padding: 10px 35px 10px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: 300ms ease all;
  box-shadow: 0 5px 8px 3px black;
}

input:hover {
  transform: scale(1.1);
}

.search-box i {
  position: absolute;
  top: 45%;
  right: 20px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

i:hover {
  position: absolute;
  transform: scale(1.2);
  top: 30%;
}



/* 

LANDING

*/

.container {
  padding: 40px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.movie__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  letter-spacing: 1.9px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 2px black;
}


select {
  width: 200px;
  padding: 8px;
  font-weight: 700;
  font-size: 12px;
  outline: none;
  margin-top: 12px;
}

select:hover, option {
  box-shadow: 0 5px 8px 3px black;
  background-color: #082424;
  color: #fff;
  border: 2px solid #003333;
}

option {
  font-size: 16px;
  font-family: 400;
}

.movie__wrapper {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 450px;
  margin: 15px;
  cursor: pointer;
}

.movie__container {
  width: 100%;
  height: 100%;
  padding: 0 32px;
}

.movie__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.movie-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 2;
}

.movie__wrapper:hover .movie-info {
  opacity: 1;
  visibility: visible;
}

.movie__img:hover {
  filter: blur(9px);
  transform: scale(1.1);
}

.movie__type {
  margin: 16px 0;
  font-size: 18px;
}
